// Color variables

$color-white: #fff;
$color-black: #000;
$color-grey: #333;
$color-mid-grey: #f0f0f0;
$color-light-grey: #e0e0e0;
$color-white-opacity: rgba(255, 255, 255, 0.23);
$color-black-opacity: rgba(0, 0, 0, 0.5);


$round-bg-color: #fafafa;
$modal-bg-color: rgba(81, 81, 81, 0.9);

// Used media breakpoints

// $breakpoints: (
//   'phone-small': 320px,
//   'phone': 400px,
// );