@font-face {
  font-family: "PTRootUI";
  src: url("PTRootUIPTRootUI-Light.eot");
  src: url("PTRootUI/PTRootUI-Light.eot?#iefix") format("embedded-opentype"),
    url("PTRootUI/PTRootUI-Light.woff2") format("woff2"),
    url("PTRootUI/PTRootUI-Light.woff") format("woff"),
    url("PTRootUI/PTRootUI-Light.ttf") format("truetype"),
    url("PTRootUI/PTRootUI-Light.svg#PTRootUI-Light") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "PTRootUI";
  src: url("PTRootUI/PTRootUI-Medium.eot");
  src: url("PTRootUI/PTRootUI-Medium.eot?#iefix") format("embedded-opentype"),
    url("PTRootUI/PTRootUI-Medium.woff2") format("woff2"),
    url("PTRootUI/PTRootUI-Medium.woff") format("woff"),
    url("PTRootUI/PTRootUI-Medium.ttf") format("truetype"),
    url("PTRootUI/PTRootUI-Medium.svg#PTRootUI-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "PTRootUI";
  src: url("PTRootUI/PTRootUI-Bold.eot");
  src: url("PTRootUI/PTRootUI-Bold.eot?#iefix") format("embedded-opentype"),
    url("PTRootUI/PTRootUI-Bold.woff2") format("woff2"),
    url("PTRootUI/PTRootUI-Bold.woff") format("woff"),
    url("PTRootUI/PTRootUI-Bold.ttf") format("truetype"),
    url("PTRootUI/PTRootUI-Bold.svg#PTRootUI-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "PTRootUI";
  src: url("PTRootUI/PTRootUI-Regular.eot");
  src: url("PTRootUI/PTRootUI-Regular.eot?#iefix") format("embedded-opentype"),
    url("PTRootUI/PTRootUI-Regular.woff2") format("woff2"),
    url("PTRootUI/PTRootUI-Regular.woff") format("woff"),
    url("PTRootUI/PTRootUI-Regular.ttf") format("truetype"),
    url("PTRootUI/PTRootUI-Regular.svg#PTRootUI-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PTAstraSans";
  src: url("PTAstraSans/PTAstraSans-Italic.eot");
  src: url("PTAstraSans/PTAstraSans-Italic.eot?#iefix") format("embedded-opentype"),
    url("PTAstraSans/PTAstraSans-Italic.woff2") format("woff2"),
    url("PTAstraSans/PTAstraSans-Italic.woff") format("woff"),
    url("PTAstraSans/PTAstraSans-Italic.ttf") format("truetype"),
    url("PTAstraSans/PTAstraSans-Italic.svg#PTAstraSans-Italic") format("svg");
  font-weight: normal;
  font-style: italic;
}
