%div.social
  %ul.social__list
    %li.social__list-item
      %a{href:"#"}
        %i.fa.fa-facebook.fa-2x
    %li.social__list-item
      %a{href:"#"}
        %i.fa.fa-twitter.fa-2x
    %li.social__list-item
      %a{href:"#"}
        %i.fa.fa-instagram.fa-2x
