%div.answers
  %div.container
    %h1.answers__title Вопросы и ответы
    %div.answers__item
      %span.answers__item-heading Как это работает?
      %p.answers__item-text Вы покупаете билеты на розыгрыш девайса. Чем больше купите билетов, тем выше шанс розыгрыша.
      %p.answers__item-text Когда все билеты будут проданы, поводится розыгрыш, побеждает один билет, счастливчик полусает свой приз.
    %div.answers__item
      %span.answers__item-heading А не наебут?
      %p.answers__item-text Не, всё честно, либо выиграл, либо проиграл.
    %div.answers__item
      %span.answers__item-heading А если я совсем лох?
      %p.answers__item-text Лох это судьба
    %button.btn.btn-primary
      %span= t('rounds.history.btn-label')