.main-header {
  height: 75px;

  &__content {
    display: flex;
    justify-content: space-between;
    padding-top: 24px;
  }

  &__logo {
    display: block;
    @include absolute($top: 22px, $left: 50%);
    transform: translateX(-50%);
    text-transform: uppercase;
    font-size: 44px;
    font-weight: 500;
    line-height: 1;
  }
}