%div.container.social
  %ul.submenu
    %li#add-to-home
      %a{href:"#"}
        %i.fa.fa-plus-square
    %li
      %a{href:"#"}
        %i.fa.fa-vk
    %li
      %a{href:"#"}
        %i.fa.fa-twitter
    %li
      %a{href:"#"}
        %i.fa.fa-instagram
    %li
      %a{href:"#"}
        %i.fa.fa-facebook
