%div.modal.loading-payment{ data: { target: 'loading-payment' } }
  %div.container
    %button.modal__close.loading-payment__close{ :type => 'button' }
      %span ×
    %p.loading-payment__text
      Переход на страницу оплаты
    %div.loading-payment__icon
      %i.fa.fa-credit-card.fa-2x