.content {
  flex-grow: 1;

  &__active,
  &__buy {
    line-height: 1.14;
    font-size: 14px;
    color: $color-black;
  }

  &__buy {
    margin-top: 24px;
  }

  &__title {
    margin-top: 5px;
    font-size: 18px;
    font-weight: bold;
    color: $color-black;
  }

  &__count {
    margin-top: 5px;
    margin-bottom: 20px;

    &-buy {
      font-size: 18px;
      font-weight: bold;
    }

    &-all {
      font-size: 14px;
    }
  }

  &__tickets {

    &-counter {

      .identifier,
      .count {
        line-height: 1.23;
        font-size: 13px;
        color: $color-black;
      }

      .count {
        opacity: 0.5;
      }

      .identifier {
        font-weight: bold;
      }
    }
  }

  &__link {
    appearance: none;
    user-select: none;
    outline: none;
    cursor: pointer;
    display: block;
    margin-top: 12px;
    padding: 0;
    border: 0;
    border-bottom: 1px solid $color-black-opacity;
    font-size: 14px;
    color: $color-black;
    background-color: transparent;
  }
}